# I94 DataWarehouse - Data Engineering Capstone Project

## Project Summary
The aim of this project is to implement the desing and construction of a data warehouse from I94 dataset. Through this, data will be available to perform analysis and run models to support decision making. By combining different data sources, the idea is to enrich current knowledge of the immigration process to make data actionable.

## Implementation

### Step 1: Scope the Project and Gather Data

#### 1.1 Scope 
In this project, three data sources are joined to understand the immigration process better. The datasets used will be I94 Immigration Data, U.S. City Demographics Data, and Airport Code Table. The Department of Homeland Security (DHS) issues the I94 form to all persons in the U.S. except citizens to control the entrance to the country and for security-related reasons. Therefore, being able to assess and understand the characteristics and analyze the immigration process would benefit the DHS and other organizations. Joining information from the DHS and airports information could enhance the analysis and help the understanding of who travels to the U.S. and which are the most important airports for immigration. Additionally, comparing this with demographic data would allow us to analyze the statistics of the population and how they could affect immigration patterns.

Some of the tools used for this project are AWS S3 (for data storage) and pandas and pyspark (for data exploration and processing).

#### 1.2 Describe and Gather Data 

Following are the data sources used for this project:

|           Dataset          |                                                                                       Description                                                                                       |                                                                                                                                                    Source                                                                                                                                                    | Format |
|:--------------------------:|:---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------:|:------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------:|:------:|
| I94 Immigration Data       | Data from the US National Tourism and Trade Office. Contains international visitor<br>information including demographics and trip specific information as arrival and<br>departure date | [Link](https://classroom.udacity.com/nanodegrees/nd027/parts/dce8f032-1b05-4d57-a30b-d6e41f01e800/modules/c46c3dad-e89f-44a2-9599-b758bfa3a3ba/lessons/b18ab222-552a-432b-aae8-7c52c5e72d37/concepts/7b7f4199-d02b-4684-8e8c-0a58318c62ee#:~:text=in%20the%20workspace.-,This,-is%20where%20the)             | SAS    |
| U.S. City Demographic Data | Contains information about the demographics of US cities                                                                                                                                | [Link](https://classroom.udacity.com/nanodegrees/nd027/parts/dce8f032-1b05-4d57-a30b-d6e41f01e800/modules/c46c3dad-e89f-44a2-9599-b758bfa3a3ba/lessons/b18ab222-552a-432b-aae8-7c52c5e72d37/concepts/7b7f4199-d02b-4684-8e8c-0a58318c62ee#:~:text=OpenSoft.%20You%20can%20read%20more%20about%20it-,here,-.) | CSV    |
| Airport Code Table         | Contains airport information including location (coordinates and city) and height<br>in feet.                                                                                           | [Link](https://classroom.udacity.com/nanodegrees/nd027/parts/dce8f032-1b05-4d57-a30b-d6e41f01e800/modules/c46c3dad-e89f-44a2-9599-b758bfa3a3ba/lessons/b18ab222-552a-432b-aae8-7c52c5e72d37/concepts/7b7f4199-d02b-4684-8e8c-0a58318c62ee#:~:text=It%20comes%20from-,here,-.)                                | CSV    |

### Step 2: Explore and Assess the Data

#### 2.1 Explore the Data

In [2]:
import pandas as pd

In [3]:
#Explore the i94 dataset
df_i94 = pd.read_csv('data/sample/immigration_data_sample.csv')
df_i94.head(5)

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,...,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,...,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,...,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,...,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,...,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [4]:
df_i94.columns

Index(['Unnamed: 0', 'cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port',
       'arrdate', 'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa',
       'count', 'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd',
       'entdepu', 'matflag', 'biryear', 'dtaddto', 'gender', 'insnum',
       'airline', 'admnum', 'fltno', 'visatype'],
      dtype='object')

In [6]:
df_i94.size

29000

In [8]:
df_i94.i94res.unique()

array([209., 582., 112., 297., 111., 577., 245., 135., 131., 116., 438.,
       260., 512., 689., 158., 115., 511., 251., 268., 585., 213., 264.,
       509., 324., 696., 117., 687., 129., 528., 123., 258., 691., 130.,
       107., 103., 694., 276., 206., 368., 575., 586., 120., 514., 124.,
       273., 692., 109., 579., 164., 126., 263., 464., 602., 121., 162.,
       274., 690., 207., 104., 525., 105., 518., 343., 504., 576., 272.,
       108., 127., 140., 526., 603., 332., 513., 516., 218., 296., 204.,
       201., 114., 257., 266., 520., 243., 261., 113., 373., 299., 688.,
       141., 350., 340.])

In [9]:
df_i94.visatype.unique()

array(['WT', 'B2', 'CP', 'B1', 'GMT', 'WB', 'F1', 'E2', 'F2', 'M1'],
      dtype=object)

In [10]:
df_i94.cicid.dtype

dtype('float64')

In [15]:
df_i94.groupby(by='i94port').size().sort_values(ascending=False)

i94port
NYC    155
MIA    111
LOS    106
SFR     55
CHI     45
      ...
ONT      1
OPF      1
OTM      1
PEM      1
X96      1
Length: 70, dtype: int64

In [16]:
df_i94.groupby(by='i94mode').size().sort_values(ascending=False)

i94mode
1.0    962
3.0     26
2.0     10
9.0      2
dtype: int64

In [17]:
df_i94.groupby(by='visatype').size().sort_values(ascending=False)

visatype
WT     443
B2     356
WB      91
B1      61
GMT     27
F1      10
CP       5
E2       3
F2       3
M1       1
dtype: int64

In [19]:
#Explore the demographics dataset
df_dem = pd.read_csv('data/sample/us-cities-demographics.csv', sep=';')
df_dem.head(5)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [20]:
df_dem.columns

Index(['City', 'State', 'Median Age', 'Male Population', 'Female Population',
       'Total Population', 'Number of Veterans', 'Foreign-born',
       'Average Household Size', 'State Code', 'Race', 'Count'],
      dtype='object')

In [21]:
df_dem.size

34692

In [22]:
df_dem['Race'].unique()

array(['Hispanic or Latino', 'White', 'Asian',
       'Black or African-American', 'American Indian and Alaska Native'],
      dtype=object)

In [24]:
df_dem.groupby(by=['State', 'Race']).size().sort_values(ascending=False)

State        Race
California   White                                137
             Hispanic or Latino                   137
             Black or African-American            136
             Asian                                136
             American Indian and Alaska Native    130
                                                 ...
Hawaii       Asian                                  1
             Black or African-American              1
             Hispanic or Latino                     1
Mississippi  American Indian and Alaska Native      1
Hawaii       White                                  1
Length: 243, dtype: int64

In [26]:
#Explore airport dataset
df_airport = pd.read_csv('data/sample/airport-codes_csv.csv')
df_airport.head(5)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [27]:
df_airport.columns

Index(['ident', 'type', 'name', 'elevation_ft', 'continent', 'iso_country',
       'iso_region', 'municipality', 'gps_code', 'iata_code', 'local_code',
       'coordinates'],
      dtype='object')

In [28]:
df_airport.iata_code.unique()

array([nan, 'UTK', 'OCA', ..., 'SHE', 'YNJ', 'YKH'], dtype=object)

In [31]:
df_airport.groupby(by='iata_code').size().sort_values(ascending=False)

iata_code
0      80
OHE     3
PRI     3
BCK     2
CLG     2
       ..
HMA     1
HLZ     1
HLW     1
HLV     1
ZZV     1
Length: 9042, dtype: int64

In [32]:
df_airport.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

#### 2.2 Cleaning Steps

1. Parse I94_SAS_Labels_Descriptions.SAS file to get country code, country name mapping

2. Join `i94cit` and `i94res` field with country name mapping to get country of citizenship and country of residence of immigrants

3. Transform `arrdate`, `depdate` in i94 immigration data from SAS time format to datetime object

4. Select only fields according to dimensional model and rename them accordingly

5. Drop duplicate values from all tables at defined grain level

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
This project follows the 4 steps in Kimball's dimensional modeling methodology:
1. **Select the business process:** As discussed in the scope of the project, the main objective is to create a Data Warehouse for support decision making regarding the immigration process. Therefore we focused on the immigration process represented in the data gathered using the i94 form. Through this data model we want to uncover relationships and patterns in migration data collected.

2. **Declare the grain:** The grain will be each i94 form record which corresponds to an immigrant filling the form for a specific visit to the US.

3. **Identify the dimensions:** We defined a `Dim_Demographics` table containing information of the respondent's destination in the US. We also defined a `Dim_Airports` that contain information of the location of different airports around the world. Finally we defined the table `Dim_Traveler` that contains information of the traveler including gender and year of birth among others.

4. **Identify the facts:** The fact table `Fact_Traveler`, contain available facts for this granularity corresponds to the respondent's age (a non-additive fact) and an auxiliar `count` field to perform aggregations.

The dimensional model is depicted as follows:

![dimensional_model](img/dimensional_model.png)


#### 3.2 Mapping Out Data Pipelines

Raw data is stored in a S3 source bucket from where it will be extracted and transformed to conform a dimensional model for analytics purposes (report generation, statistical modeling, etc.). Transfored dimensional and fact tables are stored into a S3 destination bucket in parquet format. All transformations are performed using python. Data intensive transformations are leveraged using pyspark.

![solution](img/solution_stack.png)

### Step 4: Run Pipelines to Model the Data

#### 4.1 Create the data model

To build the data model the follwong `bash` is run which performs the aforementioned ETL process

``` bash
python etl.py
```

#### 4.2 Data Quality Checks

To ensure the pipeline ran as expected, we included some data quality checks:
 * Assert data schema of every table
 * Assert non-empty tables after running ETL data pipeline
 
To run them use the `bash` command

``` bash
python qa.py
```

#### 4.3 Data dictionary

**Dim_Demographics**

|Field               |Description                                              |
|--------------------|---------------------------------------------------------|
| state_code         | Two letter code to identify state                       |
| state              | US state name                                           |
| race               | Ethnicity                                               |
| median_age         | Median age                                              |
| male_population    | Male population for certain state, city and ethnicity   |
| female_population  | Female population for certain state, city and ethnicity |
| total_population   | Total population for certain state, city and ethnicity  |

**Dim_Airports**

| Field        | Description                                                    |
|--------------|----------------------------------------------------------------|
| iata_code    | International Air Transport Association airport code           |
| type         | Type of airport                                                |
| name         | Name of the airport                                            |
| elevation_ft | Elevation of the airport in feet                               |
| continent    | Continent of the airport                                       |
| iso_country  | ISO three-letter code for the country where airport is located |
| iso_region   | ISO code for the region where airport is located               |
| municipality | City or town where airport is located                          |
| coordinates  | Longitude and latitude of the airport                          |

**Dim_Traveler**

| Field       | Description                                |
|-------------|--------------------------------------------|
| cicid       | Unique immigration identifier for traveler |
| arrdate     | Arival date of the traveler                |
| depdate     | Departure date of the traveler             |
| year        | Year of arrival                            |
| month       | Month of arrival                           |
| citizenship | Country of citizenship of the traveler     |
| residence   | Country of residence of the traveler       |
| reason      | Reason of visiting the US                  |
| biryear     | Birth year of the traveler                 |
| gender      | Gender of the traveler                     |
| visatype    | Visa type                                  |

**Fact_Traveler**

| Field      | Description                                          |
|------------|------------------------------------------------------|
| cicid      | Unique immigration identifier for traveler           |
| state_code | Two letter code to identify state                    |
| iata_code  | International Air Transport Association airport code |
| age        | Age of the traveler                                  |
| count      | Auxiliar variable to count summarize                 |

### Step 5: Complete Project Write Up

#### Tools and technologies
* AWS Simple Storage Service (S3) for raw and processed data storage. Storage on s3 allow to have high volumes of data at relatively low costs. s3 is a good choice for implementing a datalake containing various format data to get staging tables for data modeling
* [`pandas`](https://pandas.pydata.org/) for sample EDA as is one of the most popular packages in data science for data wrangling
* [`pyspark`](https://spark.apache.org/docs/latest/api/python/) for ETL process for its great capability of massive data processing

#### Update frequency
* US Demographics should be updated everytime a new report is available. As census data is costly to get, in most countries it is performed once a few years and estimates updated on a yearly basis. If it is the case data should be updated yearly.

* Airport codes table will have a very low update frequency as changes in this information is strange. Principally when new airports are built, some new records will appear. It would be prudent to update in a yearly basis.

* Immigration data should be updated every month given that raw data seems ti be reported every month. As the granularity for this analysis comes from this source, it is very important to have the most updated data.

* As new data is available, tables should have new inserted rows in contrast to replace existing ones.

#### Scenario considerations

* **The data was increased by 100x:** If data is to big to process in the current ETL pipeline, we could implement massive parallel processing solutions that leverage on Apache Spark in the cloud such as [AWS EMR](https://aws.amazon.com/es/emr/) or [Databricks](https://databricks.com/)

* **The data populates a dashboard that must be updated on a daily basis by 7am every day.** An orchestrator solution such as [Airflow](https://airflow.apache.org/) allows to run pipelines using scheduled ETL jobs on certain time basis. It is possible to define a cron expression to run the ETL process daily at 7 am.

* **The database needed to be accessed by 100+ people:** In the case a great number of people need to access the data, a Datawarehouse solution could be used to allow multiple simultaneous connections such as [AWS Redshift](https://aws.amazon.com/es/redshift/), also a [Datalakehouse](https://databricks.com/product/data-lakehouse) solution can be used to address this problem.

#### Future work

* Improve dimensional model including a separate Date dimension to allow more interesting date grouping.
* Include weather and temperature dimension.
* Implement a Datawarehouse/datalakehouse technology to improve data reading.
* Implement data import into the datawarehouse using DBT.
* Include an orchestrator (e.g. Airflow) to run the pipeline based on new available data.

### Step 6: ETL result demo

Here is a demo of the kind of analysis that can be performed with this dimensional model. For example here we can find the number of immigrants and average age grouping by destination state, and some information regarding the origin of their last trip. Results are filtered to include only residents of Colombia (my home country). With these results we could find patterns about most visited destinations by colombians in the US and average of age of visitors. This kind of data may help to estimate a season changing origin-destination matrix by nationality.

In [1]:
import configparser
from datetime import datetime
import os
from typing import List
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import DateType, IntegerType

In [19]:
config = configparser.ConfigParser()
config.read('config.cfg', encoding='utf-8-sig')

os.environ['AWS_ACCESS_KEY_ID'] = config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY'] = config['AWS']['AWS_SECRET_ACCESS_KEY']
SOURCE_BUCKET = config['S3']['SOURCE_BUCKET']
DESTINATION_BUCKET = config['S3']['DESTINATION_BUCKET']

In [2]:
spark = SparkSession.builder\
        .config("spark.jars.packages",
                "org.apache.hadoop:hadoop-aws:2.7.0")\
        .enableHiveSupport().getOrCreate()

In [3]:
fact_traveler = spark.read.parquet("data/out/fact_traveler")
dim_traveler = spark.read.parquet("data/out/dim_traveler")
dim_demography = spark.read.parquet("data/out/dim_demography")
dim_airports = spark.read.parquet("data/out/dim_airports")

In [4]:
fact_traveler.createOrReplaceTempView("fact_traveler")
dim_traveler.createOrReplaceTempView("dim_traveler")
dim_demography.createOrReplaceTempView("dim_demography")
dim_airports.createOrReplaceTempView("dim_airports")

In [5]:
spark.sql("""
          SELECT dd.state_name as destination_state,
                 da.iso_country as origin_country,
                 da.municipality as origin_city,
                 da.name as origin_airport,
                 sum(ft.count) as count,
                 avg(ft.age) as avg_age
          FROM fact_traveler ft
          LEFT JOIN dim_traveler dt on ft.cicid=dt.cicid
          LEFT JOIN (SELECT DISTINCT state_code, state_name FROM dim_demography) dd on ft.state_code=dd.state_code
          LEFT JOIN dim_airports da on ft.iata_code=da.iata_code
          WHERE dt.residence == 'COLOMBIA'
          GROUP BY dd.state_name, iso_country, da.municipality, da.name
          ORDER BY count DESC
          """).toPandas()

,destination_state,origin_country,origin_city,origin_airport,count,avg_age
0,New York,None,None,None,75.0,41.426667
1,Florida,US,Miami,Miami International Airport,68.0,42.573529
2,California,NG,Lagos,Murtala Muhammed International Airport,49.0,40.693878
3,California,US,Los Angeles,San Fernando Airport,34.0,41.852941
4,Hawaii,None,None,None,31.0,41.548387
5,Florida,US,Orlando,Orlando Executive Airport,25.0,35.360000
6,None,None,None,None,22.0,48.909091
7,Florida,None,None,None,21.0,41.952381
8,New York,US,New Orleans,Lakefront Airport,20.0,37.350000
9,Illinois,None,None,None,17.0,52.411765
10,California,None,None,None,12.0,49.416667
11,Texas,US,Houston,William P Hobby Airport,11.0,42.818182
12,Nevada,None,None,None,10.0,36.800000
13,Georgia,US,Atlanta,Hartsfield Jackson Atlanta International Airport,9.0,59.111111
14,Nevada,NG,Lagos,Murtala Muhammed International Airport,8.0,53.875000
15,Nebraska,None,None,None,8.0,36.125000
16,Massachusetts,US,Boston,General Edward Lawrence Logan International Ai...,8.0,43.750000
17,New Jersey,US,New Orleans,Lakefront Airport,8.0,33.000000
18,Maryland,None,None,None,8.0,49.625000
19,None,US,Miami,Miami International Airport,7.0,54.714286
20,Florida,NG,Lagos,Murtala Muhammed International Airport,7.0,30.714286
21,Texas,US,Dallas,Dallas Love Field,7.0,46.285714
22,Florida,US,Atlanta,Hartsfield Jackson Atlanta International Airport,6.0,42.166667
23,Florida,MX,Tampico,General Francisco Javier Mina International Ai...,6.0,52.333333
24,District of Columbia,None,None,None,6.0,45.666667
25,Washington,US,Seattle,Seattle Tacoma International Airport,6.0,58.500000
26,None,NG,Lagos,Murtala Muhammed International Airport,5.0,33.200000
27,Connecticut,None,None,None,5.0,59.200000
28,North Carolina,None,None,None,5.0,47.000000
29,New York,IE,Dublin,Dublin Airport,5.0,34.600000
...,...,...,...,...,...,...
184,Nevada,MG,Port BergÃ©,Port BergÃ© Airport,1.0,6.000000
185,Georgia,BS,Nassau,Lynden Pindling International Airport,1.0,21.000000
186,Nebraska,US,Orlando,Orlando Executive Airport,1.0,61.000000
187,Louisiana,US,Detroit,Coleman A. Young Municipal Airport,1.0,14.000000
188,Louisiana,None,None,None,1.0,16.000000
189,Florida,TC,None,North Caicos Airport,1.0,59.000000
190,Illinois,IE,Dublin,Dublin Airport,1.0,67.000000
191,Louisiana,US,New Orleans,Lakefront Airport,1.0,63.000000
192,California,US,Sumter,Sumter Airport,1.0,26.000000
193,Maryland,US,Houston,William P Hobby Airport,1.0,75.000000
194,None,IE,Dublin,Dublin Airport,1.0,52.000000
195,None,US,Seattle,Seattle Tacoma International Airport,1.0,14.000000
196,Nevada,US,Atlanta,Hartsfield Jackson Atlanta International Airport,1.0,56.000000
197,Hawaii,US,Kahului,Kahului Airport,1.0,57.000000
198,Pennsylvania,US,Kahului,Kahului Airport,1.0,14.000000
199,Texas,US,Kailua/Kona,Ellison Onizuka Kona International At Keahole ...,1.0,24.000000
200,Indiana,US,Atlanta,Hartsfield Jackson Atlanta International Airport,1.0,49.000000
201,New York,US,Torrington,Torrington Municipal Airport,1.0,46.000000
202,None,US,Santa Ana,John Wayne Airport-Orange County Airport,1.0,31.000000
203,None,US,Sarasota/Bradenton,Sarasota Bradenton International Airport,1.0,29.000000
204,None,US,Victorville,Southern California Logistics Airport,1.0,39.000000
205,District of Columbia,US,Point Hope,Point Hope Airport,1.0,69.000000
206,Massachusetts,US,Los Angeles,San Fernando Airport,1.0,26.000000
207,Florida,BR,ParanaÃ­ba,ParanaÃ­ba Airport,1.0,45.000000
208,California,US,Houston,William P Hobby Airport,1.0,22.000000
209,Texas,MX,Tampico,General Francisco Javier Mina International Ai...,1.0,39.000000
210,Idaho,US,Salt Lake City,Salt Lake City International Airport,1.0,28.000000
211,Nevada,US,Dallas,Dallas Love Field,1.0,69.000000
212,None,US,Sand Point,Sand Point Airport,1.0,46.000000
213,Colorado,None,None,None,1.0,41.000000